@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}