.hero{
    block-size: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-title{
    font: var(--fontTitle);
    text-transform: capitalize;
    margin: 0;
}
.hero-paragraph{
    max-inline-size: 60rem;
    text-align: center;
}